<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SERIES - Home</title>
    <link rel="stylesheet" href="home-page.component.css">
</head>
<body>
    <div class="home-container">
        <h1>BIENVENIDO</h1>
        <p>Estos son los módulos que puedes gestionar:</p>
        <div class="buttons">
            <button (click)="directores()">Directores</button>
            <button (click)="generos()">Géneros</button>
            <button (click)="paises()">Países</button>
            <button (click)="actores()">Actores</button>
            <button (click)="peliculas()">Películas</button>
        </div>
    </div>
</body>
</html>
