<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="mb-0">Gestión de Peliculas</h2>
      <div> 
        
      </div>
      <button class="btn btn-primary" (click)="openPeliculaCreate()">Nueva pelicula</button>
    </div>
  
    <div *ngIf="isLoading()">
      <p>Cargando datos...</p>
    </div>
  
    <table *ngIf="!isLoading() && peliculas().length > 0" class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>País</th>
          <th>Género</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelicula of peliculas()">
          <td>{{ pelicula.titulo }}</td>
          <td>{{ pelicula.paisNombre }}</td>
          <td>{{ pelicula.generoNombre }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="openPeliculaEdit(pelicula.peliculaId)">Editar</button>
            <button class="btn btn-danger btn-sm ms-2" (click)="eliminarPelicula(pelicula.peliculaId)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="!isLoading() && peliculas().length === 0">
      <p>No hay peliculaes disponibles.</p>
    </div>
  </div>
  